body {
    background-image: url(imagens/fundo3.jpg);
    background-repeat: no-repeat;
    width: 90vw;
}

.alvo1 {
    width: 3vw;
    height: 3vw;
}

.alvo2 {
    width: 5vw;
    height: 5vw;
}

.alvo3 {
    width: 7vw;
    height: 7vw;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top:solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}